click==6.7
dotmap==1.2.17
futures==3.1.1
httplib2==0.10.3
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
pager==3.3
paramiko==2.1.2
ptpython==0.39
pycrypto==2.6.1
pyOpenSSL==17.0.0
python-ecsclient==1.1.0
PyYAML==3.12
# Stuck at 2.9.1 until python-ecsclient updates their reqs
requests==2.9.1
sarge==0.1.4
simplejson==3.10.0
six==1.10.0
urwid==1.3.1
urwid_timed_progress==1.1.1
pykwalify==1.6.0
