click>=6.7
dotmap>=1.2.20
futures>=3.1.1
httplib2>=0.10.3
ipaddress>=1.0.18
itsdangerous>=0.24
Jinja2>=2.9.6
pager>=3.3
paramiko>=2.3.0
ptpython>=0.41
cryptography>=2.1.4
pycrypto>=2.6.1
pyOpenSSL>=17.3.0
python-ecsclient>=1.1.6
PyYAML>=3.12
requests>=2.18.4
sarge>=0.1.4
simplejson>=3.11.1
six>=1.11.0
urwid>=1.3.1
urwid_timed_progress>=1.1.1
pykwalify>=1.6.0
