# Pinned to last Python 2.7-compatible versions
click>=6.7,<8.0
dotmap>=1.2.20,<1.3.9
futures>=3.1.1,<4.0
httplib2>=0.10.3,<0.22
ipaddress>=1.0.18
itsdangerous>=0.24,<2.0
Jinja2>=2.9.6,<3.0
pager>=3.3
paramiko>=2.3.0,<3.0
ptpython>=0.41,<3.0
cryptography>=2.1.4,<3.0
pycrypto>=2.6.1
pyOpenSSL>=17.3.0,<20.0
python-ecsclient>=1.1.6
PyYAML>=3.12,<5.4
requests>=2.18.4,<2.28
sarge>=0.1.4
simplejson>=3.11.1
six>=1.11.0
urwid>=1.3.1,<2.2
urwid_timed_progress>=1.1.1
pykwalify>=1.6.0,<1.8
