{
    "private_interface_name": "{{ ansible_default_ipv4.alias }}",
    "public_interface_name": "{{ ansible_default_ipv4.alias }}",
    "hostname": "{{ ansible_hostname }}",
    "data_ip": "{{ ansible_default_ipv4.address }}",
    "mgmt_ip": "{{ ansible_default_ipv4.address }}",
    "replication_ip": "{{ ansible_default_ipv4.address }}"
}
