# DANGER: Rendered by installer - direct edits WILL be overwritten when ecsdeploy next runs!
#
### From etc/config.yml
#
host_root_dir: {{ ui.host_root_dir }}
cache_dir: {{ ui.cache_dir }}
host_cache_dir: {{ ui.host_cache_dir }}
host_state_file: {{ ui.host_state_file }}
state_file: {{ ui.state_file }}
deploy_file: {{ ui.deploy_file }}
ssl_dir: {{ ui.ssl_dir }}
host_ssl_dir: {{ ui.host_ssl_dir }}
ssh_dir: {{ ui.ssh_dir }}
host_ssh_dir: {{ ui.host_ssh_dir }}
product_name: {{ product.name }}
product_version: {{ product.version }}
product_vendor: {{ product.vendor }}
product_flavor: {{ product.flavor }}
product_common_name: {{ product.common_name }}
ffx_sem: {{ ui.ffx_sem }}
#
### SSH Public Key Auth
#
auth_type: {{ 'pubkey' if facts.ssh_defaults.ssh_password == facts.ssh_defaults.ssh_username else 'password' }}
keys_rsa:
  keygen_cmd: ssh-keygen -N '' -t rsa -b 4096 -o -a 100 -f
  priv_key: /opt/ssh/{{ facts.ssh_defaults.ssh_private_key if facts.ssh_defaults.ssh_private_key is defined and facts.ssh_defaults.ssh_crypto == 'rsa' else 'id_rsa' }}
  pub_key: /opt/ssh/{{ facts.ssh_defaults.ssh_public_key if facts.ssh_defaults.ssh_public_key is defined and facts.ssh_defaults.ssh_crypto == 'rsa' else 'id_rsa.pub' }}
  enabled: {{ 'true' if facts.ssh_defaults.ssh_crypto == 'rsa' else 'false' }}
keys_ed25519:
  keygen_cmd: ssh-keygen -N '' -t ed25519 -o -a 100 -f
  priv_key: /opt/ssh/{{ facts.ssh_defaults.ssh_private_key if facts.ssh_defaults.ssh_private_key is defined and facts.ssh_defaults.ssh_crypto == 'ed25519' else 'ed25519' }}
  pub_key: /opt/ssh/{{ facts.ssh_defaults.ssh_public_key if facts.ssh_defaults.ssh_public_key is defined and facts.ssh_defaults.ssh_crypto == 'ed25519' else 'ed25519.pub' }}
  enabled: {{ 'true' if facts.ssh_defaults.ssh_crypto == 'ed25519' else 'false' }}
ssh_dir_paths:
  {{ ui.ssh_dir }}:
    mode: 700
    owner: root
    group: root
    state: directory
{% if facts.ssh_defaults.ssh_crypto == 'ed25519' %}
  {{ ui.ssh_dir }}/{{ facts.ssh_defaults.ssh_private_key if facts.ssh_defaults.ssh_private_key is defined and facts.ssh_defaults.ssh_crypto == 'ed25519' else 'ed25519' }}:
    mode: 600
    owner: root
    group: root
    state: file
{% endif %}
{% if facts.ssh_defaults.ssh_crypto == 'rsa' %}
  {{ ui.ssh_dir }}/{{ facts.ssh_defaults.ssh_private_key if facts.ssh_defaults.ssh_private_key is defined and facts.ssh_defaults.ssh_crypto == 'rsa' else 'id_rsa' }}:
    mode: 600
    owner: root
    group: root
    state: file
{% endif %}
#
### Required Firewall Ports
#
firewall_ports_service_clients:
# CAS API
  - 3218/tcp
# S3_object_{http,https}, ATMOS_object_{http,https}, Swift_object_{http,https}
  - 9020-9025/tcp
# HDFS
  - 9040/tcp
firewall_ports_management_clients:
# SSH
  - 22/tcp
# Portal HTTP
  - 80/tcp
# Portal HTTPS
  - 443/tcp
# Management API
  - 4443/tcp
#
#
# AUX below
