---
# Module Variables ("vars"):
# --------------------------------
{{ vars | to_nice_yaml }}

---
# Environment Variables ("environment"):
# --------------------------------
{{ environment | to_nice_yaml }}

---
# GROUP NAMES Variables ("group_names"):
# --------------------------------
{{ group_names | to_nice_yaml }}

---
# GROUPS Variables ("groups"):
# --------------------------------
{{ groups | to_nice_yaml }}

---
# HOST Variables ("hostvars"):
# --------------------------------
{{ hostvars | to_nice_yaml }}
